h1 a, h2 a {
    color:rgb(120, 205, 219);
    font-family: 'VT323';
}

div p {
    color:aliceblue;
    font-family: 'VT323';
}

body {
    background-color: rgb(38, 37, 37);
    padding-left: 15px;
}

.page-header {
    display: flex;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 36pt;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
}

.header-img{
    float:left;
    margin-right: 10px;
    width: 50px;
    height: auto;
}