h1 a, h2 a, h2 p {
    color:rgb(120, 205, 219);
    font-family: 'VT323';
}

div p {
    color:aliceblue;
    font-family: 'VT323';
}

body {
    background-color: rgb(38, 37, 37);
    padding-left: 15px;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 36pt;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
}

.header-img{
    float:left;
    padding-top: 20px;
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.titulo_post{
    color:rgb(120, 205, 219);
    font-family: 'VT323';
}

h2, h3, h4 {
    font-family: 'VT323';
    color:rgb(120, 205, 219);
}

.post-form textarea, .post-form input {
    width: 100%;
    color: black;
}

.save {
    float: right;
    font-family: 'VT323';
    background-color: skyblue;
    color: black;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}